.container{
    text-align: center;
    margin: top 22px;
}
body{
    background-color: skyblue;
    display: grid;
}
table{
    margin: auto;
    
}
input{
    border-radius: 21px;
    border: 5px solid black;
    font-size:34px;
    height: 76px;
    text-align: right;
    width: 459px;
}
button{
    border-radius: 25px;
    font-size: 40px;
    cursor: pointer;;
    background: gray;
    width: 102px;
    height: 90px;
    margin: 6px;
}
.calculator{ 
    border: 4px solid gray;
    background-color: black;
    padding: 23px;
    border-radius: 53px;
    display: inline-block;
    
}
h1{
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}
input::placeholder{
    color: black;
    text-align: right;
    
}

